<!DOCTYPE html>
<html ng-app='meanSaleApp'>
	<head>
		<meta charset="utf-8">
		<title>Buy Sell APP</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
<body>


<form class="navbar-form navbar-right" role="search">
  <div>
		<button type="button" id="#login-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Sign in</button>
	</div>
</div>
</form>

<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Register to Sell/Buy or sign in</p>
  
  <div>
		<button type="button" id="#register-btn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#registerModal">Register</button>
	</div>
</div>


<div id="wrapper">
    <h1>Your Market Space</h1>
    <div ng-controller="BuySellController as buySell">
      <div id="onboard" ng-hide="buySell.loggedIn">
          <form ng-submit="buySell.login()">
            <div>
              <input class="solo-input" placeholder="Enter a username" ng-model="buySell.username" type="text" value="" />
            </div>
            <div id="login-button">
              <button type="submit" class="solo-button">
                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> Enter
              </button>
            </div>
          </form>
      </div>

      <div ng-show="buySell.loggedIn">
        <h2>Hi, {{buySell.username}}!</h2>
        <h3>Your List: {{buySell.item | currency}}</h3>
        <h3>Monthly: {{buySell.monthlyItem | currency}}</h3>
        <form ng-submit="buySell.updateItem()">
          <div>
            <input class="solo-input" placeholder="Item" ng-keyup="buySell.calculate()" ng-model="buySell.salary" type="number" value="" />
          </div>
          <div id="login-button">
            <button type="submit" class="solo-button">
              <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> Save Item to DB for your next visit
            </button>
          </div>
        </form>

        <div id="itemShow">
          <table>
            <tr><th>Name</th><th>Amount</th><th>Delete</th></tr>
            <tr ng-repeat="item in buySell.item"><td>{{item.name}}</td><td>{{item.amount | currency}}</td><td ng-click="buySell.deleteItem(item._id)"><button>X</button></td></tr>
          </table>
        </div>



      <form ng-submit="buySell.addItem()">
        <input id="itemtitle" type="text" ng-model="buySell.item.name" placeholder="Item Name">
        <input id="itemamount" type="number" ng-model="buySell.item.amount" placeholder="Amount">
        <button id="submitbutton" type="submit">Add Item</button>
      </form>

      <h2>You have {{buySell.itemsLeft | currency}} left!</h2>
    </div>

    </div>
  </div>						







<!--Modal -->
<aside class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Register </h6>
        </div>

       <div class="modal-body">
          <div class="container-fluid">

<!-- Registration-->
<div class="container-fluid">
  <div class="row">
    <form action="/save" method="post" class="col-12">
      <div class="row">
        <div class="input-field col-6">
          <input placeholder="Enter Your Name" id="name" type="text" class="validate" name="name">
        </div>

			 <div class="row">
        <div class="input-field col-6">
          <input placeholder="Email" id="email" type="email" class="validate" username="email">
        </div>
      </div>
      
    
      <div class="row">
        <div class="input-field col-6">
          <input placeholder="Password" id="password" type="password" class="validate">
        </div>
      </div>
     
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </form>
  </div>
</div>

	</div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </aside>

<!-- Sign in -->
  <aside class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Sign In </h4>
        </div>

       <div class="modal-body">
          <div class="container-fluid">

<!-- Sign in Form -->
<div class="container">
  <div class="row">
    <form action="/check" method="post" class="col-6">
    <div class="row">
        <div class="input-field col-6">
          <input placeholder="Email" id="email" type="email" class="validate" username="email">
        </div>
      </div>
      
      </div>
      <div class="row">
        <div class="input-field col-6">
          <input placeholder="Password" id="password" type="password" class="validate">
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Sign In
      </button>
    </form>
  </div>
  </div>

  	</div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </aside>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>